#########################
# Flake8 Configuration  #
# (.flake8)             #
#########################
[flake8]
ignore =
    # first argument of a classmethod should be named 'cls'
    N804
    # line break before binary operator
    W503
    # whitespace before ':'
    E203
    # function name should be lowercase
    N802
per-file-ignores:
    src/python/tools/mpic/features.py:N802
    src/python/tools/mpic/typechecker.py:N802
    src/python/tools/mpic/attrs.py:N802
    src/python/tools/mpic/codegen.py:N802
    src/python/tools/mpic/globalpass.py:N802
    src/python/tools/mpic/layerpass.py:N802
exclude =
    .tox
    .git,
    __pycache__,
    build,
    *.pyc,
    *third_party*,
    scripts
    test/mpic/errors
    test/mpic/examples
    examples/mpic
max-line-length = 120
max-complexity = 25
import-order-style = pycharm
application-import-names =
    marius
