CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
.idea/
cmake-*/
build/
data/
config/
test_run/
marius_env/
libtorch/
logs/
workspace/
